@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 1.8rem;
}

label {
    font-weight: bold;
    font-size: 1.4rem;
    padding: 5px 0;
}

select {
    margin: 0;
    -webkit-appearance: none;
    box-sizing: border-box;
    padding: 0.4rem 0.5rem;
    font-size: 1.4rem;
    border: 2px solid gray;
    border-radius: 5px;
    height: auto;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
    background-repeat: no-repeat;
    background-size: 0.5rem;
    background-position: center right 0.5rem;
    background-color: white;
  }

input[type="number"],
input[type="text"] {
    padding: 0.4rem 0.5rem;
    font-size: 1.4rem;
    border: 2px solid gray;
    color: black;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}

button {
    padding: 0.3rem 0.5rem;
    background-color: white;
    box-shadow: none;
    border: 2px solid gray;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}